Source: libserverframe
Section: net
Priority: optional
Maintainer: YuQing <384681@qq.com>
Build-Depends: debhelper (>=11~)
 , libfastcommon-dev (>= 1.0.56)
Standards-Version: 4.1.4
Homepage: https://github.com/happyfish100/libserverframe

Package: libserverframe-dev
Section: net
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, libserverframe (= ${binary:Version})
Description: libserverframe (development files)
  This package contains header files.

Package: libserverframe
Section: net
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${shlibs:Depends}, libfastcommon (>= ${libfastcommon:Version})
Description: this network service framework library extract from FastDFS
